﻿<h1>cadastrar</h1>

<div ng-controller="clienteCadastrarController as vm">

    <form ng-submit="vm.salvar()">
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" class="form-control" ng-model="vm.cliente.Nome" required="required" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="email" class="form-control" ng-model="vm.cliente.Email" required="required" />
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
</div>