﻿<h1>Listar</h1>

<div ng-controller="clienteListarController as vm">
    <h2>{{vm.ola}}</h2>

    <table class="table table-hover">
        <tr>
            <td>Nome</td>
            <td>Email</td>
        </tr>


        <tr ng-repeat="item in vm.listaClientes">
            <td>{{item.Nome}}</td>
            <td>{{item.Email}}</td>
        </tr>


    </table>
</div>
